*

!*/
!routes
!*.scala
!*.xml
!*.html
!*.css
!*.png
!*.gif
!*adaensemble_2.13-0.1.jar
!*.conf
!*.woff2

!build.sbt
!.gitignore
!project/build.properties
!project/plugins.sbt
!Procfile
!requestCheck.sh

.metals/

target/*
